﻿@model IEnumerable<Model.Item>

@{
    ViewBag.Title = "GetAll";
}

<h2>Items</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

@(Html.Kendo().Grid(Model)
    .Name("Grid")
    .Columns(columns =>
    {        
        columns.Bound(p => p.Name).Title("Item Name").Width(130);        
    })
    .Pageable()
    .Sortable()
    .Scrollable(scr => scr.Height(430))
    .Filterable()
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(20)
        .ServerOperation(false)
     )
)