﻿@using Common
@model IList<Model.Bill_Header>

@{
    ViewBag.Title = "All Bills";
    var haveBills = false;
}

<h2>All Bills</h2>

<p>
    @Html.ActionLink("Create New", "CreateHeader")
</p>
<table  class="table table-striped table-bordered" width="70%">
    <thead>
        <tr>            
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Id)</th>            
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().BillDate)</th>
            <th>Customer Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.NotEmpty())
        {
            haveBills = true;
                foreach (var bill in Model)
                {                    
                    <tr>
                        <td>
                            @bill.Id
                        </td>
                        <td>
                            @bill.BillDate
                        </td>
                        <td>
                            @bill.Customer.Name
                        </td>
                        <td>
                            @Html.ActionLink("Details", "GetAllBillDetails", "Bill", new { billId = bill.Id }, new { @class = "btn btn-link" })
                             
                        </td>
                    </tr>
                }
        }
        @if (haveBills == false)
        {
            <tr>
                <td>There is no data.</td>
                <td></td>
            </tr>
        }
    </tbody>
</table>            

                                                                    

@*@section scripts
{
    <script type="text/javascript" src="~/Scripts/kendo/2015.3.1111/kendo.grid.min.js"></script>
    <script type="text/javascript" src="~/Scripts/kendo/2015.3.1111/kendo.grid.min.js.map"></script>
}*@


