﻿@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>Accounting</h1>
    <p class="lead">A simple website using ASP.Net MVC, cshtml, CSS and JavaScript.</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<br/>
<br />
<br />

<h3>Telerik UI for ASP.NET MVC PanelBar</h3>
<br />

<div class="row">
    <div class="col-md-4">
        <h2>Items</h2>
        <p>@Html.ActionLink("Manage Items", "GetAll", "Item", null, new { @class = "btn btn-default" })</p>        
    </div>
    <div class="col-md-4">
        <h2>Payment Methods</h2>        
        <p>@Html.ActionLink("Manage Payment Modes", "GetAll", "PaymentMode", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Customers</h2>
        <p>@Html.ActionLink("Manage Customers", "GetAll", "Customer", null, new { @class = "btn btn-default" })</p>        
    </div>
    <div class="col-md-4">
        <h2>Bills</h2>
        <p>@Html.ActionLink("Manage Bills", "GetAllBillsHeaders", "Bill", null, new { @class = "btn btn-default" })</p>
    </div>
</div>